@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {font-family: 'Open Sans', sans-serif}

a {
    text-decoration: underline;
    cursor: pointer;
    margin-right: 8px;
    display: inline-block;
}

h1 {
    font-weight: normal;
    font-size: 22px;
}
