a {
    text-decoration: underline;
    cursor: pointer;
    margin-right: 8px;
    display: inline-block;
}

h1 {
    font-weight: normal;
    font-size: 22px;
    padding: 10px;
    color: #3f51b5;
}
