a:hover {
    cursor: pointer;
    color: grey;
}

a.remove {
    font-weight: bold;
    margin-left: 5px;
    color: #888;
    font-family: sans-serif;
}

a.remove:hover {
    color: #222;
}

li {
    line-height: 1.5em;
}

ul {list-style: none; margin-left: 0; padding-left: 15px;}

li::before {content: "•"; color: rgb(176, 170, 231); margin-right: 10px;}